{% extends 'base.html' %} {%block content%}

<div
  class="p-5 bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/006.webp');
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0);
  "
  aria-controls="#picker-editor"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h2 class="my-md-5 mb-4 px-5 display-4 fw-bold ls-tight">
          <span>Go Guide</span>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <!-- Tabs navs -->
  <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="ex3-tab-1"
        data-mdb-toggle="tab"
        href="#ex3-tabs-1"
        role="tab"
        aria-controls="ex3-tabs-1"
        aria-selected="true"
        >Things to do</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="ex3-tab-2"
        data-mdb-toggle="tab"
        href="#ex3-tabs-2"
        role="tab"
        aria-controls="ex3-tabs-2"
        aria-selected="false"
        >Food</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="ex3-tab-3"
        data-mdb-toggle="tab"
        href="#ex3-tabs-3"
        role="tab"
        aria-controls="ex3-tabs-3"
        aria-selected="false"
        >Shopping</a
      >
    </li>
    <!--<li class="nav-item" role="presentation">-->
    <!--  <a-->
    <!--    class="nav-link"-->
    <!--    id="ex3-tab-4"-->
    <!--    data-mdb-toggle="tab"-->
    <!--    href="#ex3-tabs-4"-->
    <!--    role="tab"-->
    <!--    aria-controls="ex3-tabs-4"-->
    <!--    aria-selected="false"-->
    <!--    >Financial Protection</a-->
    <!--  >-->
    <!--</li>-->
    <!--<li class="nav-item" role="presentation">-->
    <!--  <a-->
    <!--    class="nav-link"-->
    <!--    id="ex3-tab-5"-->
    <!--    data-mdb-toggle="tab"-->
    <!--    href="#ex3-tabs-5"-->
    <!--    role="tab"-->
    <!--    aria-controls="ex3-tabs-5"-->
    <!--    aria-selected="false"-->
    <!--    >Travellers Reviews</a-->
    <!--  >-->
    <!--</li>-->
  </ul>
  <!-- Tabs navs -->

  <!-- Tabs content -->
  <div class="tab-content" id="ex2-content">
    <div
      class="tab-pane fade show active"
      id="ex3-tabs-1"
      role="tabpanel"
      aria-labelledby="ex3-tab-1"
    >
      <div class="">
        <p>
          When it comes to things to do in Bali, your holiday can be filled with
          culture, nature, art, and the spiritual. The spectacular beaches of
          Kuta, Nusa Dua and Seminyak offer hours of swimming, surfing and
          sunbathing, while the cultural area of Ubud is known for its
          picturesque rice terraces. Get away from the crowds by visiting the
          northern and eastern coasts, where hidden waterfalls wait to be
          discovered.
        </p>

        <p>
          Bali's west coast has tapering ranges of mountains covered in lush
          forests, rice fields, and bountiful vegetation. The island also has
          hundreds of historical sites that have stood the tests of time. From
          royal palaces to holy temples, you get to see a different glimpse of
          Bali at these exotic spots.
        </p>

        <hr />
      </div>

      <div class="">
        <div class="row">
          <h5 class="section-title">Best things to do in Bali</h5>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="rt-profile-card" style="max-width: none">
              <a href="/destination/indonesia/">
                <img
                  src="https://a.cdn-hotels.com/gdcs/production76/d1989/926e43ee-a607-42e5-9525-5a0d61b42acf.jpg?impolicy=fcrop&w=1600&h=1066&q=medium"
                  class="full-width img-fluid"
                />
              </a>
              <div class="rt-profile-body">
                <div class="rt-profile-name">17 Best Things to Do in Bali</div>
                <div class="rt-profile-text">
                  The best things to do in Bali include not-to-be-missed
                  cultural treasures and some of the most iconic landmarks and
                  landscapes that you can find around this magical island. There
                  are innumerable temples, historical sites, and spots of...
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="rt-profile-card" style="max-width: none">
              <a href="/destination/indonesia/">
                <img
                  src="https://a.cdn-hotels.com/gdcs/production109/d34/0e2d7854-11df-4ca9-8018-211e8ae372e5.jpg?impolicy=fcrop&amp;w=800&amp;h=533&amp;q=medium"

                  class="full-width img-fluid"
                  style="height: 200px"
                />
              </a>
              <div class="rt-profile-body">
                <div class="rt-profile-name">
                        10 Best Beaches in Bali
                </div>
                <div class="rt-profile-text">
                  The most popular beaches in Bali attract travellers with their impressive landscape, clear waters, and a wide range of activities...

                </div>
              </div>
            </div>

            <div class="rt-profile-card" style="max-width: none">
              <a href="/destination/indonesia/">
                <img
                  src="https://a.cdn-hotels.com/gdcs/production128/d1581/5051d8fd-8069-4c18-b58a-b12af862bcbc.jpg?impolicy=fcrop&w=800&h=533&q=medium"
                  class="full-width img-fluid"
                  style="height: 200px"
                />
              </a>
              <div class="rt-profile-body">
                <div class="rt-profile-name">
                    25 Must-See Temples in Bali
                </div>
                <div class="rt-profile-text">
                  Ancient Bali temples dot the highlands and coasts, boasting magnificent centuries-old architecture. Several have become some of the island’s...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="ex3-tabs-2"
      role="tabpanel"
      aria-labelledby="ex3-tab-2"
    >
      <div class="row gx-lg-5 mb-5 align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
          <img
            src="https://images.unsplash.com/photo-1616438765853-214f1278e08b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
            class="w-100 shadow-4-strong rounded-4 mb-4"
            alt=""
            data-builder-edit="image"
            data-builder-name="image1"
            aria-controls="#picker-editor"
            draggable="false"
          />
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <p>
            If all you want is airfare and accommodations, you may easily book
            them online these days. It only takes a few clicks to complete the
            task. If, on the other hand, you believe that your valuable vacation
            time should work as hard as you do and be really life-enhancing, you
            need a right-hand man with knowledge and skill.
          </p>
          <p>That's where we can help.</p>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="ex3-tabs-3"
      role="tabpanel"
      aria-labelledby="ex3-tab-3"
    >
      <div class="row gx-lg-5 mb-5">
        <div class="col-md-6 mb-4 mb-md-0">
          <img
            src="https://images.unsplash.com/photo-1637979909766-ccf55518a928?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=534&q=80"
            class="w-100 shadow-4-strong rounded-4 mb-4"
            alt=""
            data-builder-edit="image"
            data-builder-name="image1"
            aria-controls="#picker-editor"
            draggable="false"
          />
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3>
            "There was nowhere to go but everywhere, so just keep sliding
            beneath the stars."
          </h3>
          <p>
            If travel and narrative go hand in hand, then our professionals are
            in the proper line of work. They've lived in our locations and spent
            a significant amount of time exploring. Their stories serve as a
            source of inspiration for us. Their knowledge is the foundation for
            planning your ideal trip – and they'll be eager to hear all about it
            when you return.
          </p>
          <p>
            Our organisation grew naturally, always in reaction to what our
            clients stated they liked, desired, or required. We are currently
            comprised of four creative teams. We design unforgettable,
            customised travel experiences for individuals and groups , as well
            as inspiring material for select brands and enterprises.
          </p>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="ex3-tabs-4"
      role="tabpanel"
      aria-labelledby="ex3-tab-4"
    >
      <h3>We Don't Just Love Africa, We ive4</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div
      class="tab-pane fade"
      id="ex3-tabs-5"
      role="tabpanel"
      aria-labelledby="ex3-tab-5"
    >
      <h3>We Don't Just Love Africa, We ive5</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <!-- Tabs content -->
</div>

{%endblock%}
