body
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.carousel-caption {
  bottom: 30%;
  z-index: 1000;
}

.carousel-item {
  height: 60vh;
}

.carousel-item img {
  height: 60vh;
}

.destination-carousel .carousel-item {
  height: 100%;
}

.destination-carousel .carousel-item img {
  height: 100%;
}

.card.map-card .living-coral {
  background-color: #fa7268;
}

.card.map-card .living-coral-text {
  color: #fa7268;
}

.card.map-card .table th {
  width: 2rem;
}

.card.map-card .pt-3-5 {
  padding-top: 1.25rem;
}

.card.map-card .card-body {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 0 !important;
}

.card.map-card .card-body.closed {
  top: 100%;
  height: 7.5rem;
  margin-top: -7.5rem;
}

.card.map-card .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.card.map-card .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.map-card .button .btn-floating {
  margin-top: 1.5rem;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

.staycation-img {
  width: 100%;
  height: 400px;
}

.login-form {
  width: 100%;
}

.suggestion-box {
  display: none;
  z-index: 9999;
  position: absolute;
  left: 5%;
  width: 90%;
  color: black;
}

.nav-search
{
  width: 60%;
}

.package-description
{
  height: 500px;
  overflow-y: scroll;
  display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    min-width: 8rem;
}

/* tab  */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
  .login-form {
    width: 80%;
  }
  .carousel-search
{
  width: 75% !important;
}

}


/* desktop */
@media only screen and (min-width: 1200px) {
  .carousel-item {
    height: 80vh;
  }
  .carousel-item img {
    height: 80vh;
  }
  .destination-carousel .carousel-item {
    height: 100%;
  }
  .destination-carousel .carousel-item img {
    height: 100%;
  }
  .card img {
    height: 200px;
  }
  .destination img {
    height: 300px;
  }
  .tour-detail-row {
    position: relative;
  }
  .tour-detail-row .card {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
  }
  .staycation-img {
    width: 100%;
    height: 400px;
  }
  .login-form {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */


/* footer */
.bg-bottom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    z-index: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #000000;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    color: #f15d30;
    border-radius: 50%;
    position: relative;
    background: #f15d30;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff !important;
}

.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: #f15d30 !important;
}


.block-23 ul
{
    list-style-type: none;
}

.block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.5) !important;
}
.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: #f15d30 !important;
}
footer .border-left {
    border-left: 1px solid #dee2e6 !important;
}
/* footer */


/* customize trip */
.home-about-area .home-about-left {
    padding-left: 20%;
}
.home-about-area .home-about-left h1 {
    max-width: 510px;
}
.home-about-area .home-about-left p {
    max-width: 500px;
    padding: 20px 0;
}
.home-about-area .home-about-left .primary-btn {
    margin-top: 10px;
    background: #222;
    font-size: 14px;
    text-decoration: none;
    border: none;
    color: #fff;
    display: inline-block;
}

.home-about-area .home-about-left .primary-btn:hover {
  background-color: orange;
  transition: 0.2s;
  outline: none;
}
/* customize trip */
