{% extends 'base.html' %} {%block content%}

<div class="container">
  <!-- <div class="row py-2">
    <div class="input-group m-auto d-flex justify-content-center">
      <div class="form-outline w-75">
        <input type="search" id="form1" class="form-control" />
        <label class="form-label" for="form1">Search</label>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div> -->
  <div class="row py-2 w-75 m-auto">
    <div class="col-md-6">
      <select class="form-select" aria-label="Default select example" id="select-activity-theme">
        <option value="">Select Category</option>
        {%for category in categories%}
          <option value="{{category.slug}}">{{category.category}}</option>
          {%endfor%}
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-select" aria-label="Default select example">
        <option selected>Sort By</option>
        <option value="1">Price (Low to High)</option>
        <!-- <option value="2">Price (High to Low)</option> -->
        <!-- <option value="3">Voybox Recommended</option> -->
      </select>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row" id="activitylist">  
    {% for item in activites %}
    <div class="col-12 col-md-3 my-2">
      <div class="card border rounded shadow-0 m-1 w-100">
        <div
          class="bg-image hover-overlay ripple"
          data-mdb-ripple-color="light"
        >
          <img
            src="/media/{{item.image}}"
            class="img-fluid"
          />
          <a href="{{item.slug}}">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
        <div class="card-body">
          <p class="card-title">
            {{item.activity_name}}
          </p>
        </div>
        <div class="card-footer border-0">
            <span class="badge bg-secondary">{{item.cities}}</span>
            <span class="badge rounded-pill bg-light text-dark"
              >{{item.category}}</span
            >
        </div>
      </div>
    </div>
    {% endfor %}
    

    

    
  </div>
</div>



{%endblock%}
