{% extends 'base.html' %} {% block content %}
<!-- carousel -->
<div class="p-0 m-0">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-mdb-ride="carousel"
  >
    <div class="carousel-inner">
      {%for item in featureimages%}
      <div class="carousel-item {%if forloop.first%}active{%endif%}">
        <img
          src="/media/{{item.image}}"
          class="d-block w-100"
          alt="Wild Landscape"
        />
      </div>
      {%endfor%}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-mdb-target="#carouselExampleControls"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-mdb-target="#carouselExampleControls"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- carousel -->

<div class="container mt-5">
  <div class="row">
    <div>
      <h3>{{activity.activity_name}}</h3>
    </div>
  </div>
  <div class="row position-relative">
    <div class="col-12 col-md-8">
      <hr />
      <div style="font-size: 1.5rem">{{activity.overview | safe }}</div>
      <hr />
      <div>{{activity.highlights | safe }}</div>
      <hr />
    </div>
    <div class="col-12 col-md-4">
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/{{activity.video_id}}?mute=1"
        allowfullscreen
        loop
      >
      </iframe>
    </div>
  </div>
</div>

<div class="container mt-2 mb-5" id="packages">
  <div>
    <h4>Package options</h4>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="p-3">
        <!-- <p>Select date and package options</p> -->
        <!-- <small>Please select a participation date</small>
            <div class="my-3">
              <input type="date" name="" id="" class="" />
            </div> -->
        <p>Package Type</p>
        <div class="d-flex flex-row flex-wrap my-2">
          {% for package in packages %}
          <button
            type="button"
            class="btn btn-lg m-1 package-btn"
            data-mdb-ripple-color="primary"
            data-package_id="{{package.id}}"
          >
            {{package.package_name}}
          </button>
          {%endfor%}
        </div>
        <!-- <p>Quantity</p> -->
        <form method="POST" class="addtocartform">
          <div class="my-2 quantity-list">
            <!-- quantity comes here from js -->
          </div>
          <div class="row my-3 addtocart d-none">
            <div class="col-md-6 d-flex align-items-center">
              <p>Total Price: ₹<span class="cart-total"></span></p>
            </div>

            {% if request.user.is_authenticated %}
            <div class="col-md-6 d-flex justify-content-end align-items-center">
              <button type="submit" class="btn btn-primary">Add to cart</button>
            </div>
            {% else %}
            <div
              class="col-md-6 d-flex justify-content-end align-items-center cart-icon-nologin"
            >
              <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-4 bg-light p-2">
      <p class="text-center">Selected package details</p>
      <div class="bg-light package-description"></div>
    </div>
  </div>
  <div class="row py-5">
    <div>
      <h5 class="my-4">What to expect</h5>
      <div>
        {{activity.what_to_expect | safe }}
      </div>
    </div>
  </div>
</div>
{%endblock%}
