{% extends 'base.html' %} 
{% load activity_filters %}
{% block content %}




<!-- {% for item in activitylist %}
    {%for product in item.values%}

    {%endfor%}
{%endfor%} -->

<div class="container my-3">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <a class="text-primary" href="/activity/cart">Your cart</a>
          <span class="badge bg-primary rounded-pill">{{cartvalue}}</span>
        </h4>
        <ul class="list-group mb-3">
          {% for product in cart%}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{product.product.activity_name}}</h6>
              <span>{{product.product}}</span>
              <small class="text-muted">X {{product.quantity}}</small>
            </div>
            <span class="text-muted">₹{{ product.product.price|pricequantity:product.quantity }}</span>
          </li>
          {%endfor%}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>₹{{carttotal}}</strong>
          </li>
        </ul>
      </div>
       {% if msg1 %}
        <div class="alert alert-{{status}} w-100" role="alert">
           <p class="text-center text-primary">{{msg1}}</p>
        </div>
        {% endif %}
      {% if not cartvalue %}
        <div class="alert alert-success w-100" role="alert">
           <p class="text-center text-primary">Your cart is empty</p>
        </div>
      {%else%}
      <div class="col-md-7 col-lg-8">
        <!-- <h4 class="mb-3"></h4> -->
        <form method="POST" action="/activity/book-now/" class="needs-validation">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-12 col-sm-6 my-2">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control"  name="firstname" id="firstName" required pattern="[A-Za-z]{*}">             
            </div>

            <div class="col-12 col-sm-6 my-2">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" name="lastname" id="lastName" required pattern="[A-Za-z]{*}">             
            </div>

            <div class="col-12 col-md-6 my-2">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">              
            </div>

            <div class="col-12 col-md-6 my-2">
              <label for="mobile" class="form-label">Mobile</label>
              <input type="text" class="form-control" name="mobile" id="mobile" required pattern="[0-9]{10}">             
            </div>

            <div class="col-12 my-2">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" name="address" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            
            <div class="col-md-5 my-2">
              <label for="country" class="form-label">Country</label>
              <select class="form-select form-control" id="country" name="country" required>
                <option value="India">India</option>
              </select>              
            </div>

            <div class="col-md-4 my-2">
              <label for="state" class="form-label">State</label>
              <select class="form-select form-control" id="state" name="state" required>
                <option value="Maharashtra">Maharashtra</option>
              </select>            
            </div>

            <div class="col-md-3 my-2">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" name="zipcode" required>             
            </div>
          </div>

          <!-- <hr class="my-4">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Save this information for next time</label>
          </div> -->

          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <!--<div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
             <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="paypal">PayPal</label>
            </div> -->
            <div class="form-check">
              <input id="COD" name="paymenttype" type="radio" class="form-check-input" value="COD" checked required>
              <label class="form-check-label" for="COD">COD</label>
            </div> 
          </div>

          <!-- <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div> -->

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
      {% endif %}
    </div>
  </main>
</div>





{%endblock%}