{% extends 'base.html' %} 
{%block content%}


          <!----><!---->
          
            <section class="mb-2 overflow-hidden">
              <!-- Background image -->
              <div
                class="px-4 py-5 px-md-5 text-center bg-image"
                style="
                  background-image: url('https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
                  height: 500px;
                  background-size: cover;
                  background-position: 50% 50%;
                  background-color: rgba(0, 0, 0, 0);
                "
                aria-controls="#picker-editor"
              >
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
                  <div class="container h-100">
                    <div
                      class="row d-flex justify-content-center align-items-center h-100"
                    >
                      <div class="col-lg-10">
                        <div class="text-white pb-5">
                          <h1
                            class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight"
                          >
                            <span>Travel Highlights</span>
                            
                          </h1>
                          <a
                            class="btn btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                            href="#!"
                            role="button"
                            aria-controls="#picker-editor"
                            >Get started</a
                          >
                          <a
                            class="btn btn-link btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 text-white"
                            style="background-color: transparent"
                            href="#!"
                            role="button"
                            aria-controls="#picker-editor"
                            >Learn more</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class=""
                style="
                  height: 30px;
                  margin-top: -30px;
                  transform: scale(2);
                  transform-origin: top center;
                  color: #fff;
                "
              >
                <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <!-- Background image -->
            </section>
          
          <!---->
        
        
          <!----><!---->
          

            <section class="mb-10 container">
              <style>
                .rounded-t-5 {
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                }
                @media (min-width: 992px) {
                  .rounded-tr-lg-0 {
                    border-top-right-radius: 0;
                  }
                  .rounded-bl-lg-5 {
                    border-bottom-left-radius: 0.5rem;
                  }
                }
              </style>
              <div class="card mb-3">
                <div class="row g-0 d-flex align-items-center">
                  <div class="col-lg-6 col-xl-4 d-none d-lg-flex">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/standard/city/020.webp"
                      alt="Trendy Pants and Shoes"
                      class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
                      aria-controls="#picker-editor"
                      style="height: 100%"
                    />
                  </div>
                  <div class="col-lg-6 col-xl-8">
                    <div class="card-body px-4 py-5 px-md-5">
                      <h2 class="fw-bold">
                        What's the secret of the great taste?
                      </h2>
                      <p class="text-uppercase text-danger fw-bold mb-4">
                        <i
                          class="fas fa-fire me-2"
                          aria-controls="#picker-editor"
                        ></i
                        ><span>Hot news</span>
                      </p>
                      <p class="text-muted mb-4">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Earum maxime voluptas ipsam aliquam itaque
                        cupiditate provident architecto expedita harum culpa
                        odit, inventore rem molestias laborum repudiandae
                        corporis pariatur quo eius iste! Quaerat, assumenda
                        voluptates! Molestias, recusandae? Maxime fuga omnis
                        ducimus.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          
          <!---->
        
        
          <!----><!---->
          

            <section class="mb-10 text-center container">
              <h2 class="fw-bold mb-7 text-center">Latest articles</h2>
              <div class="row gx-lg-5">
                <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                  <div class="card shadow-2-strong">
                    <div
                      class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                      data-mdb-ripple-color="light"
                      style="margin-top: -15px"
                    >
                      <img
                        src="https://mdbcdn.b-cdn.net/img/new/standard/city/022.webp"
                        class="img-fluid"
                        alt=""
                        aria-controls="#picker-editor"
                      />
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">My paradise</h5>
                      <p class="card-text">
                        Ut pretium ultricies dignissim. Sed sit amet mi eget
                        urna placerat vulputate. Ut vulputate est non quam
                        dignissim elementum. Donec a ullamcorper diam.
                      </p>
                      <a
                        href="#!"
                        class="btn btn-primary btn-rounded"
                        aria-controls="#picker-editor"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                  <div class="card shadow-2-strong">
                    <div
                      class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                      data-mdb-ripple-color="light"
                      style="margin-top: -15px"
                    >
                      <img
                        src="https://mdbcdn.b-cdn.net/img/new/standard/city/031.webp"
                        class="img-fluid"
                        alt=""
                        aria-controls="#picker-editor"
                      />
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Travel to Italy</h5>
                      <p class="card-text">
                        Suspendisse in volutpat massa. Nulla facilisi. Sed
                        aliquet diam orci, nec ornare metus semper sed. Integer
                        volutpat ornare erat sit amet rutrum.
                      </p>
                      <a
                        href="#!"
                        class="btn btn-primary btn-rounded"
                        aria-controls="#picker-editor"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                  <div class="card shadow-2-strong">
                    <div
                      class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                      data-mdb-ripple-color="light"
                      style="margin-top: -15px"
                    >
                      <img
                        src="https://mdbcdn.b-cdn.net/img/new/standard/city/081.webp"
                        class="img-fluid"
                        alt=""
                        aria-controls="#picker-editor"
                      />
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Chasing the sun</h5>
                      <p class="card-text">
                        Curabitur tristique, mi a mollis sagittis, metus felis
                        mattis arcu, non vehicula nisl dui quis diam. Mauris ut
                        risus eget massa volutpat feugiat. Donec.
                      </p>
                      <a
                        href="#!"
                        class="btn btn-primary btn-rounded"
                        aria-controls="#picker-editor"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>

          <!---->
        
        
          <!----><!---->
          
            <section class="mb-10 container">
              
              <div class="row mb-4">
                <div class="col-md-3 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4"
                    data-mdb-ripple-color="light"
                  >
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/018.jpg"
                      class="w-100"
                      alt=""
                      aria-controls="#picker-editor"
                    />
                  </div>
                </div>
                <div class="col-md-3 mb-4 mb-md-0">
                  <h5 class="fw-bold">Welcome to California</h5>
                  <div class="mb-2 text-danger small">
                    <i
                      class="fas fa-globe-americas me-2"
                      aria-controls="#picker-editor"
                    ></i
                    ><span>Travels</span>
                  </div>
                  <p class="text-muted">
                    Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                    placerat vulputate. Ut vulputate est non quam dignissim
                    elementum. Donec a ullamcorper diam.
                  </p>
                </div>
                <div class="col-md-3 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4"
                    data-mdb-ripple-color="light"
                  >
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/060.jpg"
                      class="w-100"
                      alt=""
                      aria-controls="#picker-editor"
                    />
                  </div>
                </div>
                <div class="col-md-3 mb-4 mb-md-0">
                  <h5 class="fw-bold">Welcome to California</h5>
                  <div class="mb-2 text-danger small">
                    <i
                      class="fas fa-globe-americas me-2"
                      aria-controls="#picker-editor"
                    ></i
                    ><span>Travels</span>
                  </div>
                  <p class="text-muted">
                    Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                    placerat vulputate. Ut vulputate est non quam dignissim
                    elementum. Donec a ullamcorper diam.
                  </p>
                </div>
              </div>

              

            </section>
          
          <!---->
        




{%endblock%}
