{% extends 'base.html' %} {% load staycation_filters %} {% load static %}
{%block content%}

<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }
    .search_form {
      width: 100%;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
      .search_form {
        width: 50%;
      }
    }
  </style>

  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1551312183-66bca7944e4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
    "
  >
    <div class="d-flex flex-column align-items-center h-100">
      <div class="container my-1 py-5 text-light">
        <div class="row">
          <h3 class="text-center">
            Finest getaways from across the world.
          </h3>
        </div>

        <div class="row my-3 d-none d-lg-flex">
          <div class="col-12 col-md-4 px-5 border-end border-2">
            <p class="text-center">
              Curated getaways with great value for cities worldwide
            </p>
          </div>
          <div class="col-12 col-md-4 px-5 border-end border-2">
            <p class="text-center">
              Providing a seamless excursions with carefully selected inclusions
            </p>
          </div>
          <div class="col-12 col-md-4 px-5">
            <p class="text-center">
              Every day, luxurious hotels, resorts, attractions, and voyages are introduced.
            </p>
          </div>
        </div>
      </div>
      <div class="search_form form-outline">
        <form autocomplete="off" class="" action="{% url 'search_results' %}" method="get">
          <div class="d-flex">
            <input
            id="search-input"
            type="search"
            placeholder="Search by destination or hotel"
            class="form-control bg-light rounded-0"
            style="height: 48px"
            name="query"
            required
          />
          <button type="submit" class="btn btn-light rounded-0 shadow-none"><i class="fas fa-search search__icon"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>



<div class="container mt-5">

  <!-- popular deals -->
  <div class="py-5 px-5">
    <div class="row">
      <h3 class="text-center">Popular deals around you</h3>
  </div>
  <div class="row">
		<div class="col-12 col-md-3">
			<div class="rt-profile-card">
			    <a href="/destination/indonesia/">
			        <img src="https://images.unsplash.com/photo-1533903655515-91fb3870be93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="full-width img-fluid">
			    </a>
				<div class="rt-profile-body">
					<div class="rt-profile-name">Indonesia</div>
					<!--<div class="rt-profile-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text</div>-->
				</div>

			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="rt-profile-card">
			    <a href="/destination/japan/">
			        <img src="https://images.unsplash.com/photo-1491884662610-dfcd28f30cfb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="full-width img-fluid">
			    </a>
				<div class="rt-profile-body">
					<div class="rt-profile-name">Japan</div>
					<!--<div class="rt-profile-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text</div>-->
				</div>

			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="rt-profile-card">
			    <a href="/destination/seychelles/">

			    <img src="https://images.unsplash.com/photo-1624964651025-5bf433458ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" class="full-width img-fluid">
			    </a>
				<div class="rt-profile-body">
					<div class="rt-profile-name">Seychelless</div>
					<!--<div class="rt-profile-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text</div>-->
				</div>

			</div>
		</div>
    <div class="col-12 col-md-3">
			<div class="rt-profile-card">
			    <a href="/destination/taiwan/">

			    <img src="https://images.unsplash.com/photo-1591962176551-cb2d2febb7be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="full-width img-fluid">
			    </a>
				<div class="rt-profile-body">
					<div class="rt-profile-name">Taiwan</div>
					<!--<div class="rt-profile-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text</div>-->
				</div>

			</div>
		</div>
	</div>
  </div>
  <!-- popular deals -->


  <!-- staycations -->
  <div class="row py-5">
    {%for item in hotelsresort %}
    <div class="col-12">
      <div class="shadow mb-3" style="max-width: 100%">
        <div class="row g-0">
          <div class="col-md-8">
            <img
              src="/media/{{item.feature_image}}"
              alt="..."
              class="img-fluid staycation-img"
            />
          </div>
          <div class="col-md-4">
            <div
              class="card-body d-flex flex-column justify-content-center align-items-center"
            >
              <img src="/media/{{item.logo}}" alt="" class="" width="80%" />
              <p class="card-title">{{item.staycation_name}}</p>
              <a
                href="{{item.slug}}"
                class="btn btn-primary btn-lg active"
                role="button"
                aria-pressed="true"
                >View More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  <!-- staycations -->


  <!-- pagination -->
  {% if hotelsresort %}
  <div class="row">
    <ul class="pagination pagination-circle d-flex justify-content-center">
      {% for page in pages%}
      <li class="page-item {{request.GET.page| pagination:page}}">
        <a class="page-link" href="?page={{page}}">{{page}}</a>
      </li>
      {%endfor%}
    </ul>
  </div>
  {% endif %}
  <!-- pagination -->

</div>

{%endblock%}
