{% extends 'base.html' %} {%block content%}

<div class="container">
    {%if msg %}
      <div class="container py-5 my-5">
        <p class="text-success text-center">{{msg}}</p>
      </div>
    {%else%}
    <div class="row">
      <div class="col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-6  my-5 py-5">
          <small>Please inform us if you are willing to take kids or babies on this staycation. You can add their age in the notes. It will help us to give you a more precise quote.</small>
        <form class="mt-3" action="/staycation/request/" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{staycationid}}" name="staycationid">

          <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullname" required pattern="[A-Za-z]{*}"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Business Email</label>
            <input type="email" class="form-control" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control" name="phonenumber" required pattern="[0-9]{10}"/>
          </div>

           <div class="mb-3">
            <label class="form-label">Check In - Check Out</label>
            <input class="form-control" type="text" name="tourdates" id="tourdates"/>
          </div>

          <div class="mb-3">
            <label class="form-label">Number of nights</label>
            <input type="number" class="form-control" name="nights" required />
          </div>

          <div class="mb-3">
            <label class="form-label">What kind of room do you prefer?</label>
              <select class="form-select" name="room">
                {%for room in rooms%}
                <option value="{{room.id}}">{{room.room_name}}</option>
                {%endfor%}
              
              </select>
          </div>

          <div class="mb-3">
              <p>Number of members travelling with you</p>
  
              <div class="row">
                  <div class="col-12 col-md-6">
                      <label class="form-label">Adult</label>
                      <input type="number" class="form-control" name="adult" min="0" required/>
                  </div>
                  <div class="col-12 col-md-6">
                       <label class="form-label">Child</label>
                      <input type="number" class="form-control" name="child" min="0" required/>
                  </div>
              </div>
          </div>
          <div class="mb-3">
              <label class="form-label">Do you have any special need or requests or occassion?</label>
              <textarea cols="30" rows="5" class="form-control" name="specialrequest"></textarea>
          </div>
  
          <div class="mb-3">
              <button type="submit" class="btn btn-info">Send</button>
          </div>
  
        </form>
      </div>
      <div class="col-12 col-md-2 col-lg-4 my-5 py-5">
          <div class="card p-2">
            <img
          src="/media/{{staycationname.feature_image}}"
          class="img-thumbnail"
          alt="Hollywood Sign on The Hill"
        />
              <p class="mb-1">{{staycationname}}</p>
              <p class="mb-1">{{staycationname.category}}</p>
              <p class="mb-1">{{staycationname.country}}</p>
          </div>
      </div>
    </div>
    {%endif%}
</div>

{%endblock%}
