{% extends 'base.html' %}
{% load static %}
{%block content%}


     <!-- Carousel wrapper -->
    <div
      id="carouselBasicExample"
      class="carousel slide carousel-fade mb-3"
      data-mdb-ride="carousel"
    >
      <!-- Indicators -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-mdb-target="#carouselBasicExample"
          data-mdb-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-mdb-target="#carouselBasicExample"
          data-mdb-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-mdb-target="#carouselBasicExample"
          data-mdb-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>

      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <img
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(8).jpg"
            class="d-block w-100"
            alt="..."
          />
         
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <img
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(17).jpg"
            class="d-block w-100"
            alt="..."
          />
          
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <img
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(18).jpg"
            class="d-block w-100"
            alt="..."
          />
          
        </div>
      </div>
      <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
        <h1>Make your next trip awesome</h1>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> 
        <!-- <div
          class="
            d-none
            d-lg-flex
            flex-row
            justify-content-center
            align-items-center
          "
        >
          <div class="form-outline carousel-search">
            <form class="" action="{% url 'search_results' %}" method="get">
              <input
              id="search-input"
              type="search"
              id="form1"
              class="form-control bg-light"
              placeholder="Search For Places,Hotels,Activities"
              style="height: 48px"
              autocomplete="off"
              name="query"
            />
            </form>
          </div>
        </div>  -->
        <!-- <div class="suggestion-box container">
          <div class="border bg-light" style="width: 83%; margin: 0 auto">
            <div class="row m-3">
              <div class="col-md-6 d-flex align-items-start my-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
                  alt=""
                  class="rounded mx-2"
                  width="60px"
                  height="60px"
                />
                <div class="d-flex flex-column align-items-start">
                  <small> <a href="/search/?query=Bali">Bali</a></small>
                  <small>Indonesia</small>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-start my-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(24).jpg"
                  alt=""
                  class="rounded mx-2"
                  width="60px"
                  height="60px"
                />
                <div class="d-flex flex-column align-items-start">
                  <small>White water rafting</small>
                  <small>Kolad</small>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-start my-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(25).jpg"
                  alt=""
                  class="rounded mx-2"
                  width="60px"
                  height="60px"
                />
                <div class="d-flex flex-column align-items-start">
                  <small>White water rafting</small>
                  <small>Kolad</small>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-start my-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(26).jpg"
                  alt=""
                  class="rounded mx-2"
                  width="60px"
                  height="60px"
                />
                <div class="d-flex flex-column align-items-start">
                  <small>White water rafting</small>
                  <small>Kolad</small>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-start my-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(27).jpg"
                  alt=""
                  class="rounded mx-2"
                  width="60px"
                  height="60px"
                />
                <div class="d-flex flex-column align-items-start">
                  <small>White water rafting</small>
                  <small>Kolad</small>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-start my-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(28).jpg"
                  alt=""
                  class="rounded mx-2"
                  width="60px"
                  height="60px"
                />
                <div class="d-flex flex-column align-items-start">
                  <small>White water rafting</small>
                  <small>Kolad</small>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-start my-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(29).jpg"
                  alt=""
                  class="rounded mx-2"
                  width="60px"
                  height="60px"
                />
                <div class="d-flex flex-column align-items-start">
                  <small>White water rafting</small>
                  <small>Kolad</small>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      
        <div class="search_form form-outline carousel-search">
        <form autocomplete="off" class="" action="{% url 'search_results' %}" method="get">
          <div class="d-flex">
            <input
            id="search-input"
            type="search"
            placeholder="Search by destination or hotel"
            class="form-control bg-light rounded-0"
            style="height: 48px"
            name="query"
            required
          />
          <button type="submit" class="btn btn-light rounded-0 shadow-none"><i class="fas fa-search search__icon"></i></button>
          </div>
        </form>
      </div>



      </div>
      <!-- Inner -->

      <!-- Controls -->
      <!-- <button
        class="carousel-control-prev"
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
    </div>
    <!-- Carousel wrapper -->

    <!-- features -->
    <!-- <div class="container py-5">
      <h2 class="pb-2 text-center">What Make Us Special</h2>
      <div class="owl-carousel my-0">
        <div class="d-flex align-items-start mx-2">
          <div class="d-flex flex-column justify-content-center">
            <h4>Local travel experts</h4>
            <p>
              Our experts live in the destination you are about to visit, they
              know it thoroughly and are able to guide you to discover their
              land!
            </p>
          </div>
        </div>
        <div class=" d-flex align-items-start mx-2">
          <div class="d-flex flex-column justify-content-center">
            <h4>100% tailormade trips</h4>
            <p>
              Tired of the usual tourist itineraries? viviTravels allows you to
              create your dream trip step by step or customize one of those we
              propose!
            </p>
          </div>
        </div>
        <div class="d-flex align-items-start mx-2">
          <div class="d-flex flex-column justify-content-center">
            <h4>Travel without worries</h4>
            <p>
              We only rely on certified and safe local operators, able to
              provide assistance and advise you on the journey: travel without
              worries!
            </p>
          </div>
        </div>
        <div class="d-flex align-items-start mx-2">
          <div class="d-flex flex-column justify-content-center">
            <h4>24/7 Support</h4>
            <p>
              Book with us and we’ll be alongside you from our first chat,
              offering 24/7 assistance and local know-how from the right time
              zone, whenever you need it.
            </p>
          </div>
        </div>
        <div class="d-flex align-items-start mx-2">
          <div class="d-flex flex-column justify-content-center">
            <h4>Our best price promise</h4>
            <p>
              Our size and trusted relationships with Africa’s top operators
              give us access to the best possible rates. If you find a better
              quote for your itinerary, let us know and we’ll match it.
            </p>
          </div>
        </div>
        <div class="d-flex align-items-start mx-2">
          <div class="d-flex flex-column justify-content-center">
            <h4>Complete Financial Protection</h4>
            <p>
              Your money is safe with us. All our clients are protected by our
              supplier default insurance and our accreditation bond with the
              Southern Africa Tourism Services Association.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- features -->

    <div class="container py-5">
      <div class="row">
        <h5 class="text-center">Why you should book with us</h5>
      </div>
      <div class="row py-5">
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
            <img src="{% static 'images/chooseus1.png' %}" alt="" width="70px" height="70px">
            <p>Best price guarantee</p>
            <p>If you find a better price, we'll match it</p>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
          <img src="{% static 'images/chooseus2.png' %}" alt="" width="70px" height="70px">
            <p>7-day ‘change of mind’ refund</p>
            <p>Get a full refund on your booking (excludes flights and insurance)</p>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
          <img src="{% static 'images/chooseus3.png' %}" alt="" width="70px" height="70px">
            <p>VIP Inclusions</p>
            <p>You get a lot more than just a bed in a room</p>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
            <img src="{% static 'images/chooseus4.png' %}" alt="" width="70px" height="70px">
            <p>Buy now, choose dates later</p>
            <p>Lock in a deal today, choose dates when you're ready</p>
        </div>

      </div>
    </div>

    <!-- feature activity -->
    <div class="container px-4 py-5">
      <h5 class="pb-2 text-center">Elegent Experiences</h5>
      <div class="row">
        {%for activity in activites %}
          <div class="col-12 col-md-3 my-2">
          <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div
              class="bg-image hover-zoom ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="/media/{{activity.image}}"
                class="img-fluid"
              />
              <a href="/activity/{{activity.slug}}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>               
            </div>
            <div class="card-body">
              <p>
                <span class="badge rounded-pill bg-light text-dark"
                  >{{activity.category}}</span
                >
              </p>
              <small class="">
                {{activity.activity_name}}
              </small>
              <!-- <small class=""> -->
              <p><span class="badge bg-secondary">{{activity.country}}</span></p>
              <!-- </small> -->
            </div>
          </div>
        </div>
        {%endfor%}
        
      </div>
      <a
        href="/activity/"
        class="btn btn-outline-info py-3 my-3"
        data-mdb-ripple-color="dark"
      >
        Discover All Activites
    </a>
    </div>
    <!-- feature activity -->

    <!-- feature tour -->
    <div class="container px-4 py-5">
      <h5 class="pb-2 text-center">Recommended Tours</h5>
      <div class="row">

        {%for tour in tours %}
        <div class="col-12 col-md-3 my-2">
          <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="/media/{{tour.image}}"
                class="img-fluid"
              />
              <a href="/tour/{{tour.slug}}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <p>
                <span class="badge rounded-pill bg-light text-dark"
                  >{{tour.category}}</span
                >
              </p>
              <small class="card-title">
                {{tour.tour_name}}
              </small>
              <!-- <small class=""> -->
              <p><span class="badge bg-secondary">{{tour.countries}}</span></p>
              <!-- </small> -->
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      <a
        href="/tour/"
        type="button"
        class="btn btn-outline-info py-3 my-3"
        data-mdb-ripple-color="dark"
      >
        Discover All Tours
      </a>
    </div>
    <!-- feature tour -->

   

    <!-- feature staycation -->
    <div>
      <div class="container px-4 py-5">
        <h5 class="pb-2 text-center">Stylish Staycations</h5>
        <div class="row">
          {%for staycation in staycations %}
          <div class="col-12 col-md-3 my-2">
            <div class="card" data-aos="fade-up" data-aos-duration="1000">
              <div
                class="bg-image hover-zoom ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  src="/media/{{staycation.feature_image}}"
                  class="img-fluid"
                />
                <a href="/staycation/{{staycation.slug}}">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.15)"
                  ></div>
                </a>
              </div>
              <div class="card-body">
                <small class="card-title font-weight-bold">
                  <a href="/staycation/{{staycation.slug}}">{{staycation.staycation_name}}</a>
                </small>
                <ul class="list-unstyled list-inline mb-0">
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"> </i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item">
                    <p class="text-muted">4.5 (413)</p>
                  </li>
                </ul>
                <!-- <p class="mb-2">$ • American, Restaurant</p>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p> -->
                <p><span class="badge bg-secondary">{{staycation.country}}</span></p>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        <a
          href="/staycation/"
          type="button"
          class="btn btn-outline-info py-3 my-3"
          data-mdb-ripple-color="dark"
        >
          Discover All Staycation
        </a>
      </div>
    </div>
    <!-- feature Staycation -->

    <!-- custom trip -->
    <section class="home-about-area my-5">
				<div class="container-fluid p-0">
					<div class="row align-items-center justify-content-end p-0">
						<div class="col-lg-6 col-md-12 home-about-left">
							<h1>
								Did not find your Package? <br>
								Feel free to ask us. <br>
								We‘ll make it for you
							</h1>
							<p>
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
							</p>
							<a href="/tailormade/" class="primary-btn text-uppercase p-3">request custom trip</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right p-0">
							<img class="img-fluid" src=" {% static '/images/about-img.jpeg/' %} " alt="">
						</div>
					</div>
				</div>	
			</section>
    <!-- custom trip -->



<!-- travel highlights -->
<div class="container my-5">
  <h5 class="pb-2 text-center">Travel Highlights</h5>
  <div class="row my-0">
    <div class="col-md-12">
      <div id="news-slider" class="owl-carousel">
        <div class="post-slide">
          <div class="post-img">
            <img src="https://images.unsplash.com/photo-1524413840807-0c3cb6fa808d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">The Grand Dragon Ladakh</a>
            </h3>
            <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p> -->
            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <a href="#" class="read-more">read more</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Fall Colors in Ladakh.</a>
            </h3>
            <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p> -->
            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <a href="#" class="read-more">read more</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://images.unsplash.com/photo-1491884662610-dfcd28f30cfb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Sariska Manor- A Beautiful Safari Lodge</a>
            </h3>
            <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p> -->
            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <a href="#" class="read-more">read more</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://images.unsplash.com/photo-1501179691627-eeaa65ea017c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Rediscover Thailand</a>
            </h3>
            <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p> -->
            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <a href="#" class="read-more">read more</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://images.unsplash.com/photo-1533903655515-91fb3870be93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Dress Code for Women in Vietnam</a>
            </h3>
            <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p> -->
            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <a href="#" class="read-more">read more</a>
          </div>
        </div>

        <div class="post-slide">
          <div class="post-img">
            <img src="https://images.unsplash.com/photo-1524675053444-52c3ca294ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">10 Cool Experiences from Colombo, Sri Lanka</a>
            </h3>
            <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p> -->
            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <a href="#" class="read-more">read more</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- travel highlights -->


<!-- Explore by intrest -->
<div class="container my-5 explore_by_intrest">
  <h5 class="pb-2 text-center">Explore By Intrest</h5>
  <div class="row">
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1542359649-31e03cd4d909?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Adventure</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1542835435-4fa357baa00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=791&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Art,History,Culture</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1549294413-26f195200c16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Luxury & Charme</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/reserve/Af0sF2OS5S5gatqrKzVP_Silhoutte.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Romance</p>
        </div>
        </div>
        </div>
    </div>
  </div>

   <div class="row">
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1496275068113-fff8c90750d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Family</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1554080353-321e452ccf19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Photographic</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Nature</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1519865241348-e0d7cd33a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Night life</p>
        </div>
        </div>
        </div>
    </div>
  </div>

   <div class="row">
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1602785164803-9a6cf611f3b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1154&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Relaxation</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1589622927507-9f9cc1359c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Local Life</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1516018074042-bc17b7da5f6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Special Day</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1498661694102-0a3793edbe74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1104&q=80"
        class="img-fluid"
        alt="Sample"
        />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">All Women</p>
        </div>
        </div>
        </div>
    </div>
  </div>

</div>
<!-- Explore by intrest -->


<!-- visitors photos -->
<div class="container my-5 visitors_photo">
  <h5 class="pb-2 text-center">Visitors Photos</h5>
  <div class="row">
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1587465420095-0fb0d52c1b24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"
        class="img-fluid"
        alt="Sample"
        />
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1558862127-9c4ba9794f31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1602532769886-b2d169960426?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
  </div>

   <div class="row">
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1593536032554-9f3e5bf0b9f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1604529509515-d4926500fd8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1629748418041-b91ff00a75d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1624324397831-f9d686f9bca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
  </div>

   <div class="row">
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1581439115292-0f0c104be09d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1642391326182-3b72644c48bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=923&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1635870523483-baa0f7b7e377?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
    <div class="col-12 col-md-3 my-1 d-flex justify-content-center">
        <div class="bg-image hover-zoom ripple rounded">
        <img
        src="https://images.unsplash.com/photo-1452687459977-921193bf89b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=846&q=80"
        class="img-fluid"
        alt="Sample"
        />
        
        </div>
    </div>
  </div>

</div>
<!-- visitors photos -->



    <!-- amazing Destinations -->
<div class="container px-4 py-5 destination">
  <!-- <h2 class="pb-2 mb-4">Decent Destinations</h2> -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-lg-0 p-0">
      <div class="bg-image hover-zoom" data-mdb-ripple-color="light">
        <img
          src="https://media.timeout.com/images/105240189/750/422/image.jpg"
          class="w-100"
        />
        <a href="/destination/indonesia/">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <h1 class="text-white mb-0">INDONESIA</h1>
            </div>
          </div>
          <div class="hover-overlay">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </div>
        </a>
      </div>

      <div class="bg-image hover-zoom" data-mdb-ripple-color="light">
        <img src="https://static.toiimg.com/photo/82974093.cms" class="w-100" />
        <a href="/destination/japan/">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <h1 class="text-white mb-0">JAPAN</h1>
            </div>
          </div>
          <div class="hover-overlay">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-4 mb-lg-0 p-0">
      <div class="bg-image hover-zoom" data-mdb-ripple-color="light">
        <img
          src="https://www.planetware.com/wpimages/2019/09/seychelles-in-pictures-most-beautiful-places-to-visit-anse-source-dargent-la-digue.jpg"
          class="w-100"
        />
        <a href="/destination/seychelles/">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <h1 class="text-white mb-0">SEYCHELLES</h1>
            </div>
          </div>
          <div class="hover-overlay">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </div>
        </a>
      </div>

      <div class="bg-image hover-zoom" data-mdb-ripple-color="light">
        <img
          src="https://www.thespiritsbusiness.com/content/uploads/2019/03/Shanghai.jpg"
          class="w-100"
        />
        <a href="/destination/china/">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <h1 class="text-white mb-0">CHINA</h1>
            </div>
          </div>
          <div class="hover-overlay">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-4 mb-lg-0 p-0">
      <div class="bg-image hover-zoom" data-mdb-ripple-color="light">
        <img
          src="https://images.hindustantimes.com/img/2021/02/03/1600x900/hyangwonjeong-pavilion-5900902_1920_1612329095702_1612329102098.jpg"
          class="w-100"
        />
        <a href="/destination/south-korea/">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <h1 class="text-white mb-0">SOUTH KOREA</h1>
            </div>
          </div>
          <div class="hover-overlay">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </div>
        </a>
      </div>

      <div class="bg-image hover-zoom" data-mdb-ripple-color="light">
        <img
          src="https://www.thoughtco.com/thmb/ZLrtgEGK8Ne9Ryx-b2TfDgp2FDQ=/4288x2848/filters:fill(auto,1)/Taiwan-58b9d0fb5f9b58af5ca84819.jpg"
          class="w-100"
        />
        <a href="/destination/taiwan/">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <h1 class="text-white mb-0">TAIWAN</h1>
            </div>
          </div>
          <div class="hover-overlay">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
    <!-- amaxing Destinations -->




{%endblock%}