{% extends 'base.html' %} {%block content%}



{% if tours %}
<div class="container py-2">
  <div class="card-group">
    {% for item in tours %}
    <!-- <div class="col-12 col-md-3 my-2"> -->
      <div class="card border rounded shadow-0 mx-1">
        <div
          class="bg-image hover-overlay ripple"
          data-mdb-ripple-color="light"
        >
          <img
            src="/media/{{item.image}}"
            class="img-fluid"
          />
          <a href="{{item.slug}}">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
        <div class="card-body">
          <span class="badge rounded-pill bg-light text-dark"
              >{{item.category}}</span
            >
          <p class="card-title">
            {{item.tour_name}}
          </p>
        </div>
        <div class="card-footer border-0">
          <span class="badge bg-secondary">{{item.countries}}</span>
        </div>
      </div>
    <!-- </div> -->
    {% endfor %}
    </div>
</div>
{%endif%}


{%endblock%}
