{% extends 'base.html' %}
{% load static %}

{%block title%}
	{{product.name}}
{% endblock %}

{% block content %}

<div class="p-0 m-0">
  <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    {%for item in featureimages%}
      <div class="carousel-item {%if forloop.first%}active{%endif%}">
      <img
        src="/media/{{item.image}}"
        class="d-block w-100"
        alt="Wild Landscape"
        style="object-fit: cover;"
      />
    </div>
    {%endfor%}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselExampleControls"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselExampleControls"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>

<div class="container mt-1 pt-5" style="width: 90%;">
      <div class="row tour-detail-row">
        <div class="col-12 col-md-8">
          <div>
            <h3>
              {{tour.tour_name}}
            </h3>
          </div>
          <div class="mt-5">
            <h5>Tour Highlights</h5>
            <p>
                {{tour.highlights | safe }}
            </p>
          </div>
          <div class="mt-5">
            <h5>Trip Summary</h5>
            <div>
              <div class="row my-2">
                <div class="col col-md-3">Theme</div>
                <div class="col">{{tour.category}}</div>
              </div>
              <div class="row my-2">
                <div class="col col-md-3">Country</div>
                <div class="col">{{tour.countries}}</div>
              </div>
              <div class="row my-2">
                <div class="col col-md-3">Location Covered</div>
                <div class="col">
                  {{tour.cities}}
                </div>
              </div>
              <div class="row my-2">
                <div class="col col-md-3">Starting Point</div>
                <div class="col">{{tour.departure}}</div>
              </div>
              <div class="row my-2">
                <div class="col col-md-3">End Point</div>
                <div class="col">{{tour.end}}</div>
              </div>
              <div class="row my-2">
                <div class="col col-md-3">Flight</div>
                <div class="col">{{tour.flight}}</div>
              </div>
              <div class="row my-2">
                <div class="col col-md-3">Guide</div>
                <div class="col">{{tour.guide}}</div>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <p class="fs-4">Detailed itinerary</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for day in days %}
                <div class="accordion-item py-3 border border-start-0 border-end-0">
                <p class="accordion-header d-flex" id="flush-{{day.slug}}">
                    <span class="border rounded-circle d-flex justify-content-center align-items-center" style="width:60px;height: 60px;">{{forloop.counter}}</span>
                    <!-- accordion-button -->
                    <button
                      class="collapsed btn w-100 text-start fs-6 shadow-0" 
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#{{day.slug}}"
                      aria-expanded="false"
                      aria-controls="{{day.slug}}"
                    >
                      <p>{{day.title}}</p>
                      <p>Day {{forloop.counter}},Transfer By Car</p>

                    </button>                  
                </p>
                <div
                  id="{{day.slug}}"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-{{day.slug}}"                 
                >
                  <div class="accordion-body">
                   {{day.highlights | safe }}
                   <div>
                     <p class="my-2">Visited Places:{{day.visited_places}}</p>
                   </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="mt-5">
            <h5>Prices and Conditions</h5>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#flush-collapseOneprice"
                    aria-expanded="false"
                    aria-controls="flush-collapseOneprice"
                  >
                    Price Includes
                  </button>
                </h2>
                <div
                  id="flush-collapseOneprice"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-mdb-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    {{tour.price_includes | safe }}
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwoprice">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#flush-collapseTwoprice"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwoprice"
                  >
                    Price Not Includes
                  </button>
                </h2>
                <div
                  id="flush-collapseTwoprice"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-mdb-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    {{tour.price_not_includes | safe }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <!-- <h5 class="card-title">Book Your Tickets</h5> -->
              <p class="fs-6">International Flight :{{tour.flight}}</p>
              <p class="fs-6">Duration : {{daycount}} days</p>
              <form method="GET" action="/tour/request/">
              <input  type="hidden" name="tour" value="{{tour.id}}">
              <button type="submit" class="btn btn-warning w-100 py-3 fs-6">
                Request Estimate
              </button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>


{% endblock %}