<div class="container py-5">
  <h5 class="section-title">Travel Highlights</h5>
  <div class="row my-0">
    <div class="col-md-12">
      <div id="news-slider" class="owl-carousel">
        {% for blog in blogs %}
        <div class="post-slide">
          <div class="post-img">
            <img src="/media/{{blog.img}}" alt="" />
            <a href="/blog/{{blog.slug}}" class="over-layer"
              ><i class="fa fa-link"></i
            ></a>
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="/blog/{{blog.slug}}">{{blog.title}}</a>
            </h3>
            <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p> -->
            <span class="post-date"
              ><i class="fa fa-clock-o"></i>{{blog.date}}</span
            >
            <a href="/blog/{{blog.slug}}" class="read-more">read more</a>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>