{% extends 'base.html' %} {%block content%}

<div
  class="p-5 text-center bg-image"
  style="
    background-image: url('/media/{{country.image}}');
    height: 450px;
  "
>
  <div class="mask" style="background:rgb(16 13 13 / 61%)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">{{country}}</h1>
        <h4 class="mb-3">{{country.description}}</h4>
        <a class="btn btn-outline-light btn-lg" href="/tailormade/" role="button">
          Get your customized tour
        </a>
      </div>
    </div>
  </div>
</div>

<!-- tours -->
<div class="container my-4">
    <div class="card-group">
        {%for item in tours %}
            <!-- <div class="col-12 col-md-3 my-2"> -->
      <div class="card border rounded shadow-0 mx-1" data-aos="fade-up" data-aos-duration="1000">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="/media/{{item.image}}"
                class="img-fluid"
              />
              <a href="/tour/{{item.slug}}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <p class="card-title">
                {{item.tour_name}}
              </p>
            </div>
            <div class="card-footer border-0">
                <span class="badge bg-secondary">{{item.countries}}</span>
                <span class="badge rounded-pill bg-light text-dark"
                  >{{item.category}}</span
                >
            </div>
          </div>
            <!-- </div> -->
        {%endfor%}
    </div>
</div>


<!-- activity -->
<div class="container my-4">
    <div class="card-group">
        {%for item in activites %}
        <div class="col-12 col-md-3 my-2">
      <div class="card border rounded shadow-0 mx-1" data-aos="fade-up" data-aos-duration="1000">
            <div
              class="bg-image hover-zoom ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="/media/{{item.image}}"
                class="img-fluid"
              />
              <a href="/activity/{{item.slug}}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>               
            </div>
            <div class="card-body">
              <p class="card-title">
                {{item.activity_name}}
              </p>
            </div>
            <div class="card-footer border-0">
              <span class="badge bg-secondary">{{item.country}}</span>
              <span class="badge rounded-pill bg-light text-dark">{{item.category}}</span>
            </div>
          </div>
    </div>
        {%endfor%}
    </div>
</div>


<!-- staycations -->
<div class="container my-4">
    <div class="row">
        {%for item in staycations%}
             <div class="col-12 col-md-3 my-2">
          <div class="card">
            <div
              class="bg-image hover-zoom ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="/media/{{item.feature_image}}"
                class="img-fluid"
              />
              <a href="/staycation/{{item.slug}}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">
                <a>{{item.staycation_name}}</a>
              </h5>
              <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"> </i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted">4.5 (413)</p>
                </li>
              </ul>
              <!-- <p class="mb-2">$ • American, Restaurant</p>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p> -->
              <p><span class="badge bg-secondary">{{item.country}}</span></p>
            </div>
          </div>
        </div>
        {%endfor%}
    </div>
</div>



{%endblock%}
